<tr>
  <td class="objective">
    <span class="content"><%= objective.name %></span>
    <span class="timestamp">
      Posted <%= time_ago_in_words(objective.created_at) %> ago.
    </span>
  </td>
</tr>
